.homepage{
    display: flex;


    .textbox{
        flex: 3;
        height: 100vh;
    }


    .imagebox{
        flex: 2;
        background-color: #fcf5f3;
        height: 100vh;
        position: relative;


        .image{
            width: 115%;
            position: absolute;
            right: 0;
        }
    }
}