.homepage{
    display: flex;


    .textbox{
        flex: 3;
        height: 100vh;
        justify-content: space-around;

        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            height: 100%;
            .title{
                font-size: 64px;
            }


            .boxes{
                display: flex;
                justify-content: space-between;

                h1{
                    font-size: 36px;
                    font-weight: 300;
                }

                span{

                }
            }
            
            
        }
    }


    .imagebox{
        flex: 2;
        background-color: #fcf5f3;
        height: 100vh;
        position: relative;


        .image{
            width: 115%;
            position: absolute;
            right: 0;
        }
    }
}